.search {
  width: 500px;
  margin: auto;
  position: relative;
  margin-bottom: 60px;
  top: 30px;
  border: 1px solid grey;
  border-radius: 10px;

  @media screen and (max-width: 1110px) {
    width: 300px;
  }

  &__wrapper {
    width: 100%; 
    display: flex;
  }

  &__input {
    width: 100%;
    border-right: none;
    padding: 5px;
    height: 36px;
    outline: none;
    color: black;
    font-size: 0.9rem;
    border: 0;
    border-radius: 10px;
  }

  &__icon {
    padding-top: 5px;
  }
}