.main {
  width: 100%;
  background: #62c4ad;
  &__wrapper {
    width: 90%;
    margin: 2% auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 40px;
  }
}
